@model Person
@{
    ViewData["Title"] = "Contact";
}
<div class="divcontact">
    <p> Heeft u vragen of opmerkingen? Dan kunt u hier contact met ons opnemen! Ons team zal u z.s.m. antwoorden. </p>

    <form method = "post" class="contactform">
     <div class = "form-group">
        @Html.LabelFor(m => m.Voornaam)
        @Html.TextBoxFor(m => m.Voornaam)
        @Html.ValidationMessageFor(m => m.Voornaam)
     </div>

     <div class = "form-group">
        @Html.LabelFor(m => m.Achternaam)
        @Html.TextBoxFor(m => m.Achternaam)
        @Html.ValidationMessageFor(m => m.Achternaam)
        </div>

     <div class = "form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
     </div>

     <div class = "form-group">
        @Html.LabelFor(m => m.Telefoonnummer)
        @Html.TextBoxFor(m => m.Telefoonnummer)
        @Html.ValidationMessageFor(m => m.Telefoonnummer)
     </div>

      <div class = "form-group">
        @Html.LabelFor(m => m. Vragen)
        @Html.TextBoxFor(m => m.Vragen)
        @Html.ValidationMessageFor(m => m.Vragen)
     </div>

     <input class = "knop" type = "submit" value = "Verstuur" />
    </form>
</div>
