@using Festivlakte.Controllers.Databases
@using Festivlakte.Database
@model Festivals
@{
    ViewData["Title"] = "FestivalDetails";
}

<div class="festivalc">
    <div><img class="afbeeldingd" src="@Model.Afbeelding" /></div>

    <div style="padding-left: 60px">
    <h2>@Model.Naam</h2><br />
    <p>@Model.Beschrijving_lang <br />
        @Model.Datum_begin t/m @Model.Datum_eind<br />
        @Model.Tijd</p>
    </div>
</div>
