@using Festivlakte.Controllers.Databases
@using Festivlakte.Database
@model Festivals
@{
    ViewData["Title"] = "FestivalDetails";
}

<div>
    <h1  class="display-4">@Model.Naam</h1><br />
    <p1>@Model.Beschrijving_lang <br />
        @Model.Datum_begin t/m @Model.Datum_eind<br />
        @Model.Tijd</p1>
    <img class="beachfestival" src="@Model.Afbeelding" />

</div>
